.ios, .md {
    timer {
        color: #fff;
        h2 {
            background-color: color($colors, primary);
            margin: 0;
            font-size: 9rem;
            align-content: center;
        }
    }
}
