.ios, .md {
    timer {
        color: #fff;
        h2 {
            background-color: #2ecc71;
            margin: 0;
            font-size: 8rem;
            align-content: center;
        }
    }
}