<ion-content>
    
    <ion-slides #slides [options]="slideOptions">
 
        <ion-slide class="start-slide">
            <h1>{{ title }}</h1>
                <p>{{ description }}</p>
            <button ion-button round outline strong outline (click)="start()">Start!</button>
        </ion-slide>
 
        <ion-slide *ngFor="let question of questions; let i = index;">
 
              <h1>{{question.question}}</h1>
 
            <ion-list no-lines radio-group>
 
                <ion-item *ngFor="let answer of question.answers; let i = index;">
 
                    <button ion-button round outline strong (click)="selectAnswer(answer, question)" [disabled]="hasAnswered">{{answer.answer}}</button>
 
                </ion-item>
 
            </ion-list>
 
        </ion-slide>
 
        <ion-slide>
            <h2>Final Score: {{score}}</h2>
 
            <button (click)="restartGame()" ion-button round outline strong color="primary">Play Again</button>

            <button [navPush]="homePage" ion-button round outline strong color="primary">Quit</button>
 
        </ion-slide>
 
    </ion-slides>

    <h3 class="score">Score: {{score}}</h3>
    <h3 class="high-score">High Score: 100</h3>
 
</ion-content>
