<ion-content>

    <h3 ion-text color="secondary">{{score}}</h3>
    
    <ion-slides #slides [options]="slideOptions">
 
        <ion-slide class="start-slide">
            <button ion-button (click)="start()">Start!</button>
        </ion-slide>
 
        <ion-slide *ngFor="let question of questions; let i = index;">
 
              <h3>{{question.question}}</h3>
 
            <ion-list no-lines radio-group>
 
                <ion-item *ngFor="let answer of question.answers; let i = index;">
 
                    <ion-label>{{i+1}}. {{answer.answer}}</ion-label>
                    <ion-radio (click)="selectAnswer(answer, question)" [checked]="answer.selected" [disabled]="hasAnswered"></ion-radio>
 
                </ion-item>
 
            </ion-list>
 
        </ion-slide>
 
        <ion-slide>
            <h2>Final Score: {{score}}</h2>
 
            <button [navPush]="usCapitalsPage" ion-button full color="primary">Play Again</button>

            <button [navPush]="homePage" ion-button full color="primary">Quit</button>
 
        </ion-slide>
 
    </ion-slides>
 
</ion-content>
