<ion-content>
    
    <ion-slides #slides>
 
        <ion-slide class="start-slide">
            <h1>{{ title }}</h1>
                <p>{{ description }}</p>
            <button ion-button round outline strong (click)="start()">Start!</button>
        </ion-slide>
 
        <ion-slide *ngFor="let question of questions; let i = index;">
 
              <h2>{{question.question}}</h2>
 
            <ion-list no-lines radio-group>
 
                <ion-item *ngFor="let answer of question.answers; let i = index;">
 
                    <ion-label ion-button round outline strong>{{answer.answer}}</ion-label>
                    <ion-radio (click)="selectAnswer(answer)" [disabled]="hasAnswered"></ion-radio>
 
                </ion-item>
 
            </ion-list>
 
        </ion-slide>
 
        <ion-slide>
            <h2>Final Score: {{score}}</h2>
 
            <button (click)="restartGame()" ion-button round outline strong>Play Again</button>

            <button [navPush]="homePage" ion-button round outline strong>Quit</button>
 
        </ion-slide>
 
    </ion-slides>

    <h3 class="score">Score: {{score}}</h3>
    <h3 class="high-score">High Score: 100</h3>
 
</ion-content>
