.ios, .md {
    trivia-card {
        .radio-icon {
            display: none;
        }
        ion-radio {
            margin: 0 !important;
        }
        .item-radio {
            margin-bottom: .5em;
        }
        ion-label {
            border-bottom: 1px solid #fff !important;
        }
        .item-radio-checked.item-md ion-label,
        .item-radio-checked.item-ios ion-label {
            color: #fff;
        }
        .reveal {
            opacity: 1;
        }
        .score,
        .high-score {
            bottom: 0;
            position: fixed;
        }
        .score {
            left: .5rem;
        }
        .high-score {
            right: .5rem;
        }
        h1 {
            margin-top: 0;
        }
        ion-slide.start-slide {
            margin-top: 0;
        }
        h2 {
            font-size: 3.5rem;
        }
        .label-ios, .label-md {
            margin: 0 8px 0 0;
        }
        .slide-zoom {
            width: 90%;
        }
        .quit {
            right: 1rem;
            bottom: .5rem;
        }
        .fab-ios, .fab-md {
            padding: 0;
        }
    }
}

.ios {
    trivia-card {
        h2 {
            font-size: 4rem;
        }
    }
}

.md {
    trivia-card {
        h2 {
            font-size: 3.5rem;
        }
        .slide-zoom {
            width: 90%;
        }
    }
}